.schedule-container {
    background-color: #6d9cea;
    width: 75%;
    margin: 6em auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.schedule-text{
    order: 2;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    /* border: 1px solid green; */
}
.schedule-text h2 {
    font-weight: 200;
    color: white;
    margin-bottom: 0;
}

.schedule-text p {
    color: whitesmoke;
}
.schedule-text button{
    width: 60%;
    box-shadow: none;
}

.img-container {
    /* border: 1px solid black; */
    width: 50%;
}


.schedule-img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .schedule-container {
        width: 99%;
        flex-direction: column;
    }
    
    .schedule-text {
        width: 95%;
        padding: 1em;
    }
    .img-container {
        order: 1;
        width: 100%;
    }
  }