.my-order-div {
    width: 50%;
    margin: 4em auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.my-order-div h2 {
    color: #0d6efd;
    margin-bottom: 2em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .my-order-div{
        width: 100%;
    }

}