.summary-container{
    width: 75%;
    margin: 7em auto;
    padding: 2em;
    text-align: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.summary-container h2 {
    color: skyblue;
}

.summary-container h5 {
    color: navy;
}

.summary-container p{
    color: cadetblue;
}

.summaries{
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
}

.summaries h1{
    color: skyblue;
}


.summary{
    width: 19%;
}


