.summary-container {
  width: 75%;
  margin: 7em auto;
  padding: 2em;
  text-align: center;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.summary-container h2 {
  color: cadetblue;
  font-weight: bolder;
}

.summary-container h5 {
  color: navy;
}

.summary-container p {
  color: cadetblue;
}

.summaries {
  margin: 3em 0;
  display: flex;
  justify-content: space-between;
}

.summaries h1 {
  color: skyblue;
}

.summary {
  width: 19%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .summary-container {
    width: 98%;
  }

  .summaries {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .summary{
      width: 50%;
      text-align: center;
  }
}
